In [1]:
fruits = ["apple", "banana", "orange"]
print("Full list:", fruits)
for fruit in fruits:
    print(fruit)

Full list: ['apple', 'banana', 'orange']
apple
banana
orange

In [3]:
names = ["Alice", "Bob", "Charlie", "Diana"]
names[0] = "Eve"
print(names)

['Eve', 'Bob', 'Charlie', 'Diana']

In [5]:
vehicles = ["car", "bus", "bike", "scooter", "train"]
vehicles.append("truck")
print(vehicles)

['car', 'bus', 'bike', 'scooter', 'train', 'truck']

In [7]:
foods = ["pizza", "sushi", "tacos", "pasta", "salad", "burger"]
removed = foods.pop(2)
print("Removed:", removed)
print("New list:", foods)

Removed: tacos
New list: ['pizza', 'sushi', 'pasta', 'salad', 'burger']

In [11]:
cities = ["Dallas", "Austin", "Houston", "San Antonio"]
cities.sort()
print("Alphabetical:", cities)
cities.reverse()
print("Reversed:", cities)

Alphabetical: ['Austin', 'Dallas', 'Houston', 'San Antonio']
Reversed: ['San Antonio', 'Houston', 'Dallas', 'Austin']

In [13]:
animals = ["cat", "dog", "rabbit"]
for animal in animals:
    print(animal)

cat
dog
rabbit

In [15]:
numbers = [1, 2, 3, 4, 5]
for n in numbers:
    print(n * 2)

2
4
6
8
10

In [17]:
friends = ["Noah", "Liam", "Olivia", "Emma", "Ava", "Sophia"]
print("First three:", friends[:3])
print("Last three:", friends[-3])

First three: ['Noah', 'Liam', 'Olivia']
Last three: Emma

In [19]:
nums_1_to_10 = list(range(1, 11))
print(nums_1_to_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
squares = [n**2 for n in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]