#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [1]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

lowest_student = min(grades, key=grades.get)
print(lowest_student, grades[lowest_student])

Omid 16

Exercise 2: print names of students who registered for any course containing "Data"

In [2]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

students_with_data = [
    name for name, class_list in courses.items()
    if any('data' in course.lower() for course in class_list)
]

for name in students_with_data:
    print(name)

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [3]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

for title, info in library.items():
  if not info.get('available', False):
    print(title)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [4]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

for name, courses in registrations.items():
  if len(courses) > 2:
    print(name)

Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [5]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

average = sum(grades.values()) / len(grades)
print("Average grade: ", average)

Average grade:  18.1

Exercise 6: Count and print the number of students registered for "Python".

In [7]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

count = sum(any(courses.lower() == 'python' for courses in class_list)
            for class_list in courses.values())
print(count)

3

Exercise 7: Print titles of books with more than 200 pages.

In [8]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


for title, pages in book_pages.items():
  if pages > 200:
    print(title)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [9]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

for name, class_list in courses.items():
  print(f"{name}: {len(class_list)}")

Ali: 2
Sara: 2
Reza: 2
Lina: 2
Omid: 1